*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
}
section
{
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: center;
  width: 100%;
  justify-content: center;
}
section header
{
  width: 100%;
  position: absolute;
  justify-content: flex-end;
  top: 0;
  display: flex;
  padding: 20px;
}
section header ul
{
  justify-content: center;
  display: flex;
  align-items: center;
}
section header ul li
{
  margin-left: 20px;
  list-style: none;
}
section header ul li a
{
  color: #000000;
  text-decoration: none;
  font-size: 15px;
}
section header ul li button
{
  background: #4080ed;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
section .first
{
  width: 580px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section .first .searchBox
{
  margin-top: 20px;
  position: relative;
  width: 100%;
}
section .first .searchBox .search
{
  padding: 13px;
  padding-right: 60px;
  padding-left: 45px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  width: 100%;
}
section .first .searchBox .icons
{
  position: absolute;
  top: 0 ;
  width: 100%;
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
section .first .buttons
{
  margin-top: 20px;
}
section .first .buttons button
{
  color: #555;
  font-size: 14px;
  margin: 0 5px;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
}
section .first .buttons button:hover
{
  border: 1px solid #ebebeb;
}
section .first .languages
{
  display: flex;
  margin-top: 30px;
}
section .first .languages li
{
  margin: 0 5px;
  font-size: 13px;
  list-style: none;
}
section .first .languages li:hover
{
  text-decoration: underline;
}
section .end
{
  background: #e3e3e3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
section .end .line
{
  padding: 15px 25px;
  border-top: 1px solid rgba(0,0,0,0.05);
}
section .end .line.line2
{
  display: flex;
  justify-content: space-between;
}
section .end .line.line2 ul
{
  display: flex;
}
section .end .line.line2 ul li
{
  list-style: none;
}
section .end .line.line2 ul li a
{
  text-decoration: none;
  font-size: 14px;
  color: #5a5c5e;
  margin-right: 25px;
}
section .end .line.line2 ul:nth-child(2) li a
{
  text-decoration: none;
  font-size: 14px;
  color: #535537;
  margin-left: 25px;
  margin-right: 0;
}
